.home {
  .img-background {
    background-position: 100% 100%;
    background-size: cover;
    background-image: url('../../img/DATA_ANALYTICS.png');
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
  }
}
